Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["buildthelist-credentials"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/tmp/beanstalk-database.json":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-east-2.amazonaws.com/buildthelist-credentials/beanstalk-database.json
